*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.center{
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 25px 10px 0 0 white;

}